.hero {
    background: url("../images/hero-bg.jpg") no-repeat center / cover;
    padding: 122px 0 195px 0;
    &-title {
        font-family: 'Cormorant', sans-serif;
        font-weight: 700;
        font-size: 50px;
    }
    &-text {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }
    &-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }
    &-button {
        width: 200px;
    }
}

@include mobile {
    .hero-text {
        text-align: center;
    }
    .hero-button {
        margin-inline: auto;
    }
}

@include mobile-l {
    .hero {
        padding: 122px 0 20px 0;
    }
}