.instagram {
    padding-bottom: var(--section-padding-y);
    &-title {
        margin-inline: auto;
        a {
            text-decoration: underline;
            text-decoration-color: var(--color-orange);
        }
        @include mobile {
            & {
                font-size: 30px;
            }
        }
        @media(max-width: 520px) {
            & {
                font-size: 25px;
            }
        }
        @include mobile-l {
            & {
                font-size: 20px;
            }
        }
    }
    &-gallery {
        width: 85%;
        &-item {
            width: 186px;
            aspect-ratio: 1;
            padding: 15px;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
            img {
                aspect-ratio: inherit;
                width: 100%;
            }
        }
    }
    &-gallery-button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            fill: #b2b2b2;
        }
        &[aria-disabled="true"] {
            border: 1px solid #b3b3b3;
            background-color: #fff;
        }
        &[aria-disabled="false"] {
            background-color: var(--color-orange);
            border: none;
            svg path {
                fill: #fff;
            }
        }
    }
    &-gallery-wrapper {
        display: flex;
        align-items: center;
        column-gap: 20px;
        padding-top: 40px;
    }
}

.gallery-left {
    transform: scaleX(-1);
}
