.offers {
    &-title {
        margin-inline: auto;
    }
    &-cards {
        padding-top: 40px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 30px;
        margin-inline: auto;
        width: 100%;
        @media (max-width: 579px) {
            & {
                flex-direction: column;
                flex-wrap: unset;
                width: fit-content;
            }
        }
    }
}
