.partner {
    background: url("../images/partner-bg.jpg") no-repeat center / cover;
    padding: 60px 0;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        margin-inline: auto;
        row-gap: 30px;
    }
    &-title {
        color: #fff;
        @media (max-width: 570px) {
            & {
                font-size: 30px;
            }
        }
        @include mobile-l {
            & {
                font-size: 25px;
            }
        }
        @include mobile-s {
            & {
                font-size: 20px;
            }
        }
    }
    &-button {
        width: 330px;
        @include mobile-s {
            font-size: 14px;
            width: 280px;
        }
    }
}