body {
    font-family: 'Poppins', sans-serif;
    color: var(--color-dark);
}

a,
button,
input,
textarea,
svg {
    transition-duration: var(--transition-duration) !important;
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    padding-top: var(--section-padding-y);
}

.section-title {
    font-family: 'Cormorant', sans-serif;
    font-size: 40px;
    width: fit-content;
    span {
        color: var(--color-orange);
    }
}

h1,h2,h3,h4,h5,h6 {
    color: var(--color-dark);
    font-family: 'Cormorant', sans-serif;
}
