@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@700&family=Poppins:wght@300;400;500;600&display=swap");
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2) !important;
  height: 100%;
  margin-inline: auto;
  padding: 0 var(--container-padding-x);
}

.hidden {
  display: none !important;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-dark);
}

a,
button,
input,
textarea,
svg {
  -webkit-transition-duration: var(--transition-duration) !important;
          transition-duration: var(--transition-duration) !important;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  padding-top: var(--section-padding-y);
}

:root {
  --color-orange: #ff8126;
  --color-dark: #1f1f1f;
  --container-width: 1170px;
  --container-padding-x: 20px;
  --section-padding-y: 80px;
}

.promo {
  font-weight: 500;
  font-size: 14px;
  background-color: #c2e8ce;
  height: 50px;
}
.promo .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.promo-title {
  margin-inline: auto;
  text-align: center;
  font-size: clamp(12px, 0.9722222222vw, 14px);
}

.close-button {
  aspect-ratio: 1;
  background-color: transparent;
  border: none;
  width: 30px;
  cursor: pointer;
}
.close-button img {
  width: 16px;
  aspect-ratio: inherit;
}

.header {
  height: 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1023px) {
  .header .header-list {
    display: none;
  }
  .header .burger-button {
    display: block !important;
  }
}
.header .header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  margin-left: auto;
}
.header .header-buttons .header-button {
  cursor: pointer;
  width: 60px;
  aspect-ratio: 1;
  background-color: transparent;
  border: 1px solid #bfbfbf;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header .header-buttons .header-button .cart-button-count {
  position: absolute;
  top: 6px;
  right: -10px;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  background-color: var(--color-orange);
  border-radius: 50%;
  padding: 2px 3px;
}
.header .header-buttons .cart-button {
  position: relative !important;
}
.header .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .burger-button {
  border: none;
  background-color: transparent;
  margin-right: 20px;
  display: none;
}
@media (max-width: 424px) {
  .header .header-buttons {
    max-width: 170px;
  }
}
@media (max-width: 376px) {
  .header .header-buttons {
    max-width: 140px;
  }
  .header .burger-button {
    margin-right: 5px;
  }
  .header .logo {
    scale: 0.9;
  }
}

.modal-nav-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-column-gap: 0px;
     -moz-column-gap: 0px;
          column-gap: 0px;
  row-gap: 20px;
  padding-left: 0 !important;
}

.header-list {
  padding-left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.header-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-list-item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 7px;
     -moz-column-gap: 7px;
          column-gap: 7px;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
}

.select-modal {
  position: absolute;
  margin-top: 20px;
  background-color: #dedede;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}
.select-modal li button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-bottom: 1px solid #bbb;
}

.hero {
  background: url("../images/hero-bg.jpg") no-repeat center/cover;
  padding: 122px 0 195px 0;
}
.hero-title {
  font-family: "Cormorant";
  font-weight: 700;
  font-size: clamp(24px, 3.4722222222vw, 50px);
}
.hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
}
.hero-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
}
.hero-button {
  width: 200px;
}

@media (max-width: 767px) {
  .hero-text {
    text-align: center;
  }
  .hero-button {
    margin-inline: auto;
  }
}
.button {
  background-color: var(--color-orange);
  border: none;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  height: 45px;
  -webkit-transition-duration: 0.1s !important;
          transition-duration: 0.1s !important;
}
.button::focus {
  border: none;
}
.button:active {
  -webkit-transform: translateY(1.5px);
          transform: translateY(1.5px);
}
@media (hover: hover) {
  .button:hover {
    scale: 1.1;
  }
}
@media (hover: none) {
  .button:active {
    scale: 1.1;
  }
}